{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="{% static 'css/market/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/market/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/market/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/market/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/market/style.css'%}" type="text/css">

</head>


<body>
<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="{% static 'images/icon/search.png' %}" alt=""></a>
        <a href="#"><img src="{% static 'images/icon/heart.png' %}" alt=""></a>
        <a href="{% url 'cart' %}"><img src="{% static 'images/icon/cart.png' %}" alt=""> <span>0</span></a>
        <div class="price">${{ total_price }}</div>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="{% url 'shop' %}"><img src="{% static 'images/shop.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'market' %}">Home</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li><a href="{% url 'Home'%}">News</a></li>
                        <li><a href="{% url 'tracker-bar'%}">Analyse</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="{% static 'images/icon/search.png' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/icon/heart.png' %}" alt=""></a>
                    <a href="{% url 'cart' %}"><img src="{% static 'images/icon/cart.png' %}" alt=""> <span>0</span></a>
                    <div class="price">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
    {% block market %} {% endblock market %}
    <footer class="footer">
        <div class="container">
            <div class="row text-center">
                    <div class="footer__about">
                        <p> Athena Magazine: Your Premier Source for In-Depth Political, Sports, and Technology
                            News. You dive into the world of politics, sports, and technology with Athena Magazine, your go-to
                            publication for comprehensive coverage and analysis. Stay informed about the latest political
                            developments, from global affairs to local policies, all in one captivating magazine. Get your sports fix
                            with in-depth features, match highlights, and exclusive interviews with athletes and coaches.Explore
                            the cutting-edge world of technology with insightful articles on innovations, trends, and the impact
                            of tech on society. Athena Magazine: Where knowledge meets curiosity.</p>
                    </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright © Athena Shop 2023 
                        
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Js Plugins -->
    <script src="{% static 'js/market/jquery-3.3.1.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/market/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'js/market/jquery.nicescroll.min.js'%}"></script>

    <script src="{% static 'js/market/jquery.slicknav.js'%}"></script>
    <script src="{% static 'js/market/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/market/main.js'%}"></script>
    <script src="{% static 'js/market/mixitup.min.js'%}"></script>
</body>